@{
    ViewBag.Title = "Nastea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-image"></div>
<div class="bg-text">
    Cine e aici, hm?
    <p>Hai să simțim gustul vieții împreună..</p>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="side">
                <div class="fakeimg">
                    <img id="im2" src="@Url.Content("~/Content/img/profile.jpg")">
                </div>
                <div id="margintop">
                    <p id="text1">Anastasia Frecăuțan</p>
                    <p>anastasia.frecautan@gmail.com</p>
                    <p><a href="https://www.facebook.com/fr.nastea">Facebook page</a></p>
                    <p> ”O sursă enormă de lumină, căldură și dragoste. Un om cu suflet bun.” (c) anonim</p>
                </div>

                <h3>Lasts posts</h3>
                <p></p>
                <div class="fakeimg">
                    <img id="im3" src="@Url.Content("~/Content/img/art.jpg")">
                </div><br>
                <div class="fakeimg">
                    <img id="im3" src="@Url.Content("~/Content/img/Capture.png")">
                </div><br>
                <div class="fakeimg">
                    <img id="im3" src="@Url.Content("~/Content/img/snowflake1.png")">
                </div><br>
            </div>
        </div>
        <div class="col-9">
            <div class="main">
                <h2>Dar tu trăiești cu arta?</h2>
                <h5> Art, 19 ianuarie, 2015</h5>
                <img id="im4" src="@Url.Content("~/Content/img/art.jpg")">

                <p>
                    Știi, am un vis. Un vis de copil naiv, fericit și îmbibat de euforia speranței. Un vis ce îmi va stoarce sufletul pe foaia odată atinsă de val,
                    cufundată și iubită de apa limpede a oceanului. Vreau să creez, să inspir,
                    să ating perfecțiunea cu inima-mi-naripată. Vreau să te scriu, să te pictez,
                    să te modelez. De ce? Pentru că inima soptește...<a href="blog1.html">Read More</a>
                </p>
                <br>
                <h2>Scrisoare mamei</h2>
                <h5>Art, 24 octombrie, 2015</h5>
                <div class="fakeimg">
                    <img id="im4" src="@Url.Content("~/Content/img/Capture.png")">
                </div>
                <p>
                    Întuneric. În suflet se răsuna un ecou al singurătăţii , ce îmi deranjează somnul.
                    Momentul cînd lacrimile curg, dar sufletul zîmbeşte, amintindu-şi de tine.
                    Cu greu, dar incercînd să mă iau in mîini, îţi voi dedica o scrisoare, MAMĂ...<a href="blog1.html">Read More</a>
                </p>
            </div>
        </div>


    </div>


</div>

